body > svg {
  display: none;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
}

.hide {
  display: none;
}

i.success {
  color: green;
}
i.error {
  color: red;
}

.mdl-checkbox + .sub {
  margin-left: 24px;
}

.sub ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 16px;
  display: inline-block;
}
.sub ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.sub ul li:last-child {
  border: 0;
  padding-right: 0;
}

.mdl-file,
.mdl-checkbox__label,
.is-focused .mdl-textfield__label,
.mdl-textfield__label,
.mdl-textfield__input {
  font-size: 14px;
}
.mdl-textfield {
  width: 100%;
}

.mdl-file i {
  color: #aaa;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.upload-card {
  width: 400px;
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.upload-card > .mdl-card__title {
  color: #4d4d4d;
  height: 200px;
  position: relative;
  padding: 0;
  background-color: #F3F3F4;
}

.upload-card > .mdl-card__title h2 {
  margin: 15px;
}

.upload-card > .mdl-card__title a {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  fill: #ddd;
}
.upload-card > .mdl-card__title a:hover {
  text-decoration: none;
  border: 0;
  fill: #222;
}

.upload-card > .mdl-card__title::before {
  content: "";
  background-image: url("../assets/img/finance.png");
  background-repeat: no-repeat;
  background-position: 227px -18px;
  background-size: 60%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.upload-card > .mdl-card__title .mdl-card__title_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 230px -30px;
}

.upload-card .mdl-card__actions {
  text-align: center;
}

.upload-card .mdl-card__actions a:first-child {
  margin-right: 7px;
}

.upload-card .mdl-card__supporting-text {
  min-height: 70px;
  width: calc(100% - 32px);
}

.upload-card .mdl-card__supporting-text a:hover {
  border-bottom: 1px solid #3f51b5;
}

.upload-card .mdl-card__supporting-text p {
  margin: 0;
  line-height: 18px;
}
.upload-card .mdl-card__supporting-text p:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.upload-card .mdl-card__supporting-text p i {
  margin-right: 3px;
  vertical-align: middle;
}
.upload-card .mdl-card__supporting-text p:last-child {
  margin-top: 10px;
}
.upload-card .mdl-file {
  margin-bottom: 12px;
  padding: 0;
}

.upload-card .mdl-file .mdl-textfield__label,
.upload-card .mdl-file .mdl-textfield__label::after,
.upload-card .mdl-file .mdl-textfield__label span,
.upload-card .mdl-file .mdl-button {
  bottom: 0;
}
.upload-card .mdl-textfield__label {
  top: 4px;
}

.upload-card .mdl-file .mdl-button:hover {
  background: transparent;
}
.upload-card .mdl-file.is-focused:hover i,
.upload-card .mdl-file:hover i {
  color: #3f51b5;
}

.upload-card .mdl-file.is-focused input {
  border: 0;
}
.upload-card .mdl-file input[value] + label span {
  display: none;
}

.upload-card .mdl-file .mdl-uploadfield__input {
  width: 100%;
}

.upload-card small {
  font-size: 11px;
  display: block;
  text-align: right;
}

@media only screen and (max-device-width: 480px) {
  .upload-card {
    width: 350px;
  }
  .upload-card > .mdl-card__title {
    background-position: 152px -90px;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.flip-container {
	perspective: 1000px;
}
.flip-container.settings .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 400px;
	height: 400px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
