<!DOCTYPE html>
<html>
  <head>
    <title>CSV do FIO XML</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="contact" content="lukas@konarik.info"/>
    <meta name="author" content="Lukas Konarik">

    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/material.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link rel="stylesheet" href="css/material.ext.min.css">
    <script src="js/material.ext.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <svg>
      {php echo file_get_contents('./assets/img/info.svg')}
    </svg>
